* {
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    background-color: black;
    color: white;
}

h1 {
    margin: 40px 20px;
    font-size: 50px;
}

h2 {
    margin: 40px 0;
    font-size: 42px;
}

a {
    font-size: 20px;
    color: aquamarine;
}

.download-link {
    margin: 20px 0;
}

#scope {
    margin: 20px 0;
    font-size: 28px;
    color: gray;
}

#phone {
    margin: 15px 0;
}

#footer > p {
    font-size: 28px;
    color: gray;
    text-align: right;
    padding: 20px;
}
